DB_NAME=dvd_fix
DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432
GROK_API_KEY = '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';  // get free key at console.groq.com
FLASK_ENV=development
FLASK_DEBUG=1
